<html>
<head>
  <link rel="stylesheet" href="/css/application.css"/>
  <title>A I S W E E P E R</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>A I S W E E P E R</h1>
  <%= content %>
</body>
</html>
